Source: libsbsms
Section: libs
Priority: optional
Maintainer: Debian Multimedia Maintainers <debian-multimedia@lists.debian.org>
Uploaders: Benjamin Drung <bdrung@debian.org>
Build-Depends: debhelper-compat (= 13),
               libsndfile1-dev (>= 1.0.2),
               libtool
Rules-Requires-Root: no
Standards-Version: 4.6.1
Homepage: http://sbsms.sourceforge.net/
Vcs-Browser: https://salsa.debian.org/multimedia-team/libsbsms
Vcs-Git: https://salsa.debian.org/multimedia-team/libsbsms.git

Package: libsbsms10
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Subband Sinusoidal Modeling Synthesis
 libsbsms is a C++ library for high quality time stretching and pitch scaling of
 audio. It uses octave subband sinusoidal modeling.
 .
 The audio is fed into a FIFO, which takes the STFT of the input. Each frame is
 high-pass filtered in the Fourier domain, and then written to a frame FIFO
 which does quadratic interpolating peak detection and track continuation. The
 tracks are resynthesized with a quadratic phase preserving oscillator bank at
 an arbitrary time scale.
 .
 The subbands are fed from the low-pass filtered frames, which are decimated by
 two and reconstructed in a half rate time domain. The subbands perform the same
 process as the parent band, only the data is at half the audio frequency, and
 at half the rate. There are typically 6 bands. The point of subbands is to
 allow high time resolution for high frequencies and at the same time high
 frequency resolution for low frequencies.
 .
 Pitch scaling is performed in a post-processing resampling step.

Package: libsbsms-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsbsms10 (= ${binary:Version}), ${misc:Depends}
Description: Subband Sinusoidal Modeling Synthesis (development files)
 libsbsms is a C++ library for high quality time stretching and pitch scaling of
 audio. It uses octave subband sinusoidal modeling.
 .
 The audio is fed into a FIFO, which takes the STFT of the input. Each frame is
 high-pass filtered in the Fourier domain, and then written to a frame FIFO
 which does quadratic interpolating peak detection and track continuation. The
 tracks are resynthesized with a quadratic phase preserving oscillator bank at
 an arbitrary time scale.
 .
 The subbands are fed from the low-pass filtered frames, which are decimated by
 two and reconstructed in a half rate time domain. The subbands perform the same
 process as the parent band, only the data is at half the audio frequency, and
 at half the rate. There are typically 6 bands. The point of subbands is to
 allow high time resolution for high frequencies and at the same time high
 frequency resolution for low frequencies.
 .
 Pitch scaling is performed in a post-processing resampling step.
 .
 This package contains the development files.
